@model Cafeteria.Models.Purchase

@{
    ViewBag.Title = "Detalles";
}

    <div class="row justify-content-center">
        <div class="card" style="width:25rem; margin:1rem;">
            <div class="card-header text-center bg-success text-white">Detalles de Nota No. @Model.Id </div>
            <div class="card-body">
                <table>
                    <tr>
                        <td class="font-weight-bold font-italic text-success">Cliente: </td>
                        <td> @Model.ClientName</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold font-italic text-success">Cantidad: </td>
                        <td> @Model.Quantity</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold font-italic text-success">Total: </td>
                        <td> @Model.Total</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold font-italic text-success">Comentario: </td>
                        <td> @Model.Comment</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold font-italic text-success">Estatus: </td>
                        <td> @Model.Status</td>
                    </tr>
                    <tr>
                    </tr>
                </table>
            </div>
            <div class="text-center">
                <a href="@Url.Action("Index","Purchases")" class="btn btn-sm btn-dark text-white" style="margin: 0.5rem;"><i class="fas fa-fast-backward"></i> Regresar</a>
                <a href="@Url.Action("Edit","Purchases", new { id=Model.Id })" class="btn btn-sm btn-success text-white" style="margin: 0.5rem;"><i class="fas fa-edit"></i> Editar</a>
                <a href="@Url.Action("Delete","Purchases", new { id=Model.Id })" class="btn btn-sm btn-danger text-white" style="margin: 0.5rem;"><i class="fas fa-recycle"></i> Eliminar</a>
            </div>
        </div>
    </div>