@model Cafeteria.Models.Purchase

<link href="~/Content/layout/sb-admin-2.css" rel="stylesheet" />

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="espacio row justify-content-center">
        <div class="col-md-5">
            <div class="card" style="width:25rem; margin:1rem;">
                <div class="card-header bg-success text-white text-center">Información de Nota No. @Model.Id </div>
                <div class="card-body">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group">
                            <label class="font-weight-bold font-italic text-success">Nombre de Cliente:</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ClientName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ClientName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="font-weight-bold font-italic text-success">Nombre de Cliente:</label>
                            <div class="col-md-10">
                                <select name="ProductId" class="form-control product" id="productName">
                                    <option selected disabled>Elige un producto:</option>
                                    @foreach (var item in ViewBag.Products)
                                    {
                                        <option value="@item.Id">@item.ProductName — $@item.Price</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="font-weight-bold font-italic text-success">Cantidad:</label>
                            <div class="col-md-10">
                                <input type="text" name="Quantity" value="@Model.Quantity" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="font-weight-bold font-italic text-success">Comentario:</label>
                            <div class="col-md-10">
                                <input type="text" name="Comment" value="@Model.Comment" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="font-weight-bold font-italic text-success">¿Qué quieres comprar?</label>
                            <div class="col-md-10">
                                <select name="Status" class="form-control">
                                    <option selected disabled>Elige el estatus actual:</option>
                                    <option value="Pendiente">Pendiente</option>
                                    <option value="Pendiente">En proceso</option>
                                    <option value="Pendiente">Terminado</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group text-center">
                            <input type="submit" name="btnGuardar" value="Guardar" class="btn btn-sm btn-success" />
                            <a href="@Url.Action("Index","Purchases")" class="btn btn-sm btn-dark text-white" style="margin: 0.5rem;"><i class="fas fa-fast-backward"></i> Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
