@model IEnumerable<Cafeteria.Models.Purchase>

@if (!User.Identity.IsAuthenticated)
{
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-inner-pages">
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-xl-9 d-flex align-items-center justify-content-between">
                    <h1 class="logo"><a href="@Url.Action("Index","Home")">Winmer</a></h1>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                    <nav class="nav-menu d-none d-lg-block">
                        <ul>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="active"><a href="@Url.Action("Index","Home")">Inicio</a></li>
                                <li><a href="@Url.Action("Index","Products")">Menú</a></li>
                                <li><a href="#about">Acerca</a></li>
                                <li><a href="#services">Servicios</a></li>
                                <li><a href="#contact">Contacto</a></li>
                                <li><a href="@Url.Action("Index","Purchases")">Compras</a></li>
                            }
                            else
                            {
                                <li class="active"><a href="@Url.Action("Index","Home")">Inicio</a></li>
                                <li><a href="@Url.Action("Index","Products")">Menú</a></li>
                                <li><a href="#about">Acerca</a></li>
                                <li><a href="#services">Servicios</a></li>
                                <li><a href="#contact">Contacto</a></li>
                                <li><a href="@Url.Action("Index","Purchases")">Compras</a></li>
                                <li><a href="@Url.Action("Login","Account")">Iniciar Sesión</a></li>
                            }
                        </ul>
                    </nav><!-- .nav-menu -->
                </div>
            </div>
        </div>
    </header><!-- End Header -->

    <!-- Custom fonts for this template-->
    <link href="~/Content/fonts/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">


    <!-- Vendor CSS Files -->
    <link href="~/Content/home/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/home/icofont.min.css" rel="stylesheet">
    <link href="~/Content/home/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/home/remixicon.css" rel="stylesheet">
    <link href="~/Content/home/venobox.css" rel="stylesheet">
    <link href="~/Content/home/owl.carousel.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/home/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

@if (!User.Identity.IsAuthenticated)
{
    <link href="~/Content/Site.css" rel="stylesheet" />
}
<link href="~/Content/layout/sb-admin-2.css" rel="stylesheet">

<div class="espacio">
    <div class="card text-center">
        <div class="card-header bg-success text-white">
            ¡Conoce lo que la gente más ama!
        </div>
        <div class="card-body shadow">
            <img src="~/Images/populares.png" alt="Alternate Text" />
            <div class="row justify-content-center">
                @foreach (var item in ViewBag.Popular)
                {
                    if (item.Product.Type == "Bebida caliente")
                    {
                        <div class="mb-3" style="width: 15rem; margin:0.5rem;">
                            <img class="card-img-top" src="@Url.Action("GetImage","Products", new { id = item.Product.Id})" alt="Alternate Text" />
                            <div class="card border-bottom-success shadow">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">$@item.Product.Price</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@item.Product.ProductName</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fab fa-hotjar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    if (item.Product.Type == "Bebida fría")
                    {
                        <div class="mb-3" style="width: 15rem; margin:0.5rem;">
                            <img class="card-img-top" src="@Url.Action("GetImage","Products", new { item.Product.Id})" alt="Alternate Text" />
                            <div class="card border-bottom-success shadow">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">$@item.Product.Price</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@item.Product.ProductName</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-cubes fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    if (item.Product.Type == "Alimento")
                    {
                        <div class="mb-3 margin-card" style="width: 15rem; margin:0.5rem;">
                            <img class="card-img-top" src="@Url.Action("GetImage","Products", new { item.Product.Id})" alt="Alternate Text" />
                            <div class="card border-bottom-success shadow">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">$@item.Product.Price</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@item.Product.ProductName</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-utensils fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

    <br />
    <br />
    <div class="row justify-content-center">
        <h2>¿Esperando tu pedido?</h2>
    </div>
    <br />
    <br />

    <a href="@Url.Action("Create","Purchases")" class="btn btn-sm btn-success text-white"><i class="fas fa-shopping-cart"></i> ¡Comprar!</a>
    <br />
    <br />

    <table class="table table-sm table-striped table-hover" id="myPurchases">
        <thead>
            <tr>
                <th>
                    No. Nota
                </th>
                <th>
                    Cliente
                </th>
                <th>
                    Producto
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                @if (User.Identity.IsAuthenticated)
                {
                    <th></th>
                }
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductName)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.Product.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <td>
                            <a class="btn btn-sm btn-dark" href="@Url.Action("Details","Purchases", new { id=item.Id})">Detalles</a>
                        </td>
                    }
                </tr>
            }
        </tbody>

    </table>
</div>

<div id="preloader"></div>
<a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

@if (!User.Identity.IsAuthenticated)
{
    <!-- Bootstrap core JavaScript-->
    <script src="~/Scripts/layout/jquery.min.js"></script>
    <script src="~/Scripts/layout/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Scripts/layout/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Scripts/layout/sb-admin-2.min.js"></script>

    <!-- Vendor JS Files -->
    <script src="~/Scripts/home/validate.js"></script>
    <script src="~/Scripts/home/jquery.waypoints.min.js"></script>
    <script src="~/Scripts/home/counterup.min.js"></script>
    <script src="~/Scripts/home/isotope.pkgd.min.js"></script>
    <script src="~/Scripts/home/venobox.min.js"></script>
    <script src="~/Scripts/home/owl.carousel.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Scripts/home/main.js"></script>
}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="//cdn.datatables.net/plug-ins/a5734b29083/i18n/Spanish.json"></script>
    <script>
        $(document).ready(function () {
            $('#myPurchases').DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });
        });
    </script>
}
