@model Cafeteria.Models.Product

<link href="~/Content/layout/sb-admin-2.css" rel="stylesheet" />

@{
    ViewBag.Title = "Detalles";
}

<div class="row justify-content-center">
    <div class="card" style="width:25rem; margin:1rem;">
        <img class="card-img-top" src="@Url.Action("GetImage","Products", new { id = Model.Id})" alt="Alternate Text" />
        <div class="card-header text-center bg-success text-white">Detalles de @Model.ProductName </div>
        <div class="card-body">
            <table>
                <tr>
                    <td class="font-weight-bold font-italic text-success">Tipo: </td>
                    <td> @Model.Type</td>
                </tr>
                <tr>
                    <td class="font-weight-bold font-italic text-success">Descripción: </td>
                    <td> @Model.Description</td>
                </tr>
                <tr>
                    <td class="font-weight-bold font-italic text-success">Precio: </td>
                    <td> $@Model.Price</td>
                </tr>
                <tr>
                </tr>
            </table>
        </div>
        <div class="text-center">
            <a href="@Url.Action("Index","Products")" class="btn btn-sm btn-dark text-white" style="margin: 0.5rem;"><i class="fas fa-fast-backward"></i> Regresar</a>
            <a href="@Url.Action("Edit","Products", new { id=Model.Id })" class="btn btn-sm btn-success text-white" style="margin: 0.5rem;"><i class="fas fa-edit"></i> Editar</a>
            <a href="@Url.Action("Delete","Products", new { id=Model.Id })" class="btn btn-sm btn-danger text-white" style="margin: 0.5rem;"><i class="fas fa-recycle"></i> Eliminar</a>
        </div>
    </div>
</div>
