@model ControlInventario.Models.Product

@{
    ViewBag.Title = "Productos";
}

    <div class="espacio">
        <h2>Detalles</h2>

        <div>
            <h4>@Model.ProductName</h4>
            <hr />

            <dl class="dl-horizontal">
                <dt>
                    Código
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductCode)
                </dd>

                <dt>
                    Nombre
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductName)
                </dd>

                <dt>
                    Descripción
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    Cantidad
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Quantity)
                </dd>

                <dt>
                    Precio
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

            </dl>
        </div>
        <p>
            <a href="@Url.Action("Edit", "Products", new { id = Model.Id })" class="btn btn-sm btn-outline-primary">Editar</a>
            <a href="@Url.Action("Index", "Products")" class="btn btn-sm btn-outline-dark">Regresar</a>
            <a href="@Url.Action("Delete", "Products", new { id = Model.Id })" class="btn btn-sm btn-outline-danger">Eliminar</a>
        </p>
    </div>
