@using Cafeteria.Models
@model LoginViewModel



<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Login</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                                <div class="col-lg-6">
                                  <div class="p-5">
                                    <section id="loginForm">
                                        <div class="text-center">
                                            <div class="card border-left-success">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">¡Atención!</div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Solo Empleados</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-exclamation fa-2x text-gray-300"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <hr />
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                <div class="form-group user">
                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-user", @placeholder = "Correo electrónico . . ." })
                                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group user">
                                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-user", @placeholder = "Contraseña . . ." })
                                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group user">
                                                    <div class="custom-control custom-checkbox small">
                                                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-control-input" })
                                                        @Html.LabelFor(m => m.RememberMe, new { @class = "custom-control-label" })
                                                    </div>
                                                </div>
                                                <div class="form-group user">
                                                    <input type="submit" value="Iniciar Sesión" class="btn btn-success btn-user btn-block" />
                                                </div>
                                            }
                                    </section>
                                      </div>
                                </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}